.badge {
  background: transparent;
}

/* SUCCESS */
.badge[data-status="success"] {
  background-color: var(--mantine-color-teal-light);
}

/* WARNING */
.badge[data-status="warning"] {
  background-color: var(--mantine-color-yellow-light);
}

/* FAILED */
.badge[data-status="failed"] {
  background-color: var(--mantine-color-red-light);
}
