.link {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-4));
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
  transition: background-color 0.15s ease, color 0.15s ease;
}

.link:hover {
  background-color: var(--mantine-color-violet-4);
  color: var(--mantine-color-white);
}

.link[data-active] {
  background-color: var(--mantine-color-violet-6);
  color: var(--mantine-color-white);
}

.link[data-active]:hover {
  background-color: var(--mantine-color-violet-6);
  color: var(--mantine-color-white);
}

.linkLabel {
  font-size: var(--mantine-font-size-sm);
}
