.users_page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search_and_button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.search_wrapper {
  flex: 1;
  min-width: 0;
}

@media (max-width: 500px) {
  .search_and_button {
    flex-direction: column;
    gap: 16px;
  }

  .search_wrapper {
    width: 100%;
  }

  .add_button {
    width: 100%;
  }
}

.add_button {
  max-width: 120px;
  flex-shrink: 0;
}
